.pink1 {
    background-color: pink;
}
.red1 {
    background-color: red;

}
.yellow1 {
    background-color: yellow;
}
.blue1 {
    background-color: aquamarine;
}
.none1 {
    background-color: white;
}